/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
*.gltf
/caravel/
/mgmt_core_wrapper/
/venv/
mgmt_core_wrapper
mgmt_core_wrapper
/deps/timing-scripts/
*.hier
*.vvp
*.class
a.out
*.bin
*__pycache__*
*.raw
*.wav
